## Save these due to file write efficiency and hopeful future distributed distribution efficiency (i.e., individual tiles don't change, then don't change the file)
tiles/[0-9]*

## Save these for an archive
CIFP/cifp*.zip

## Clean should remove all files below:
plates/C*
plates/plates.archive
z-logs/*out
z-logs/time*
plates/z-logs/*out
charts/fly/*tif
charts/hel/*tif
charts/ifr/*tif
charts/oth/*tif
charts/sec/*tif
charts/tac/*tif
charts/vfr-downloads/*tif
charts/fly/*pdf
charts/hel/*pdf
charts/ifr/*pdf
charts/oth/*pdf
charts/sec/*pdf
charts/tac/*pdf
charts/vfr-downloads/*pdf
charts/hel/*vrt
APT.txt
AWOS.txt
AWY.txt
CAN_ADS
CIFP/2*
CIFP/cifpscan
DOF.DAT
FIX.txt
NAV.txt
TWR.txt
afd.csv
airport.csv
airports.csv
aixm5.0.zip
aw.csv
awos.csv
cac_next.pdf
charts/vfr-downloads/*
dof.csv
final/CAN_ADS.zip
final/alternates.zip
final_webp/
fix.csv
fly.vrt
freq.csv
ifa.vrt
ifh-east.vrt
ifh-west.vrt
ifr-east.vrt
ifr-west.vrt
merge/
mins/
nav.csv
ourairports.csv
plates/DDTPP/
procedures.db
results.txt
runway.csv
saa.csv
saadir/
sec.vrt
stage-ifr-area
tac.vrt
