## Save these due to file write efficiency and hopeful future distributed distribution efficiency (i.e., individual tiles don't change, then don't change the file)
tiles/[0-9]*

## Save these for an archive
CIFP/cifp*.zip
qualitycontrol.zip

## Clean should remove all files below:
afd.csv
airport.csv
airports.csv
aixm5.0.zip
APT.txt
aw.csv
awos.csv
AWOS.txt
AWY.txt
cac_next.pdf
CAN_ADS
charts/fly/*pdf
charts/fly/*tif
charts/hel/*pdf
charts/hel/*tif
charts/hel/*vrt
charts/ifr/*pdf
charts/ifr/*tif
charts/oth/*pdf
charts/oth/*tif
charts/sec/*pdf
charts/sec/*tif
charts/tac/*pdf
charts/tac/*tif
charts/vfr-downloads/*
charts/vfr-downloads/*pdf
charts/vfr-downloads/*tif
CIFP/2*
CIFP/cifpscan
dof.csv
DOF.DAT
final/
final/alternates.zip
final/CAN_ADS.zip
final-highres/
final-lowres/
final_png/
final_webp/
fix.csv
FIX.txt
fly.vrt
freq.csv
ifa.vrt
ifh-east.vrt
ifh-west.vrt
ifr-east.vrt
ifr-west.vrt
main.db
merge/
mins/
nav.csv
NAV.txt
obs.db
ourairports.csv
plates/C*
plates/DDTPP/
plates/plates.archive
plates/z-logs/*out
procedures.db
results.txt
runway.csv
saa.csv
saadir/
sec.vrt
stage-ifr-area
tac.vrt
TWR.txt
z-logs/*out
z-logs/time*
